:root {
  --boxcolor : rgba(22,22,22,0.2);
}

h1 {
  color: red
}

body {
  background-color: black;
  /*background-color: var(--boxcolor);*/
  /*display:flex;*/
}

.box {
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-top: -10%; /* Changes with height. */
  margin-left: -10%;
  /*box-shadow: 10px 10px 5px 15px rgba(255, 255, 255, 0.2);*/

  box-shadow: (10px 0 0 10px rgba(255,255,255,0.1));
  box-shadow: -10px 0 0 10px rgba(255,255,255,0.1);
  /*background-blend-mode: multiply;*/
  height: 100px;
  width: 100px;
  background-color: var(--boxcolor);
  display:flex;
  float: left;
  position:relative;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  /*flex: auto;*/
}

.box1 {
  /*background-color: rgba(255,255,255,0.9);*/
  background-color: rgba(255,255,255,0.1);
  width: 100px;
  height: 300px;
  z-index: 999;
  position:absolute;

}

.box1:hover {
    /*background-color: #FFCCCC;*/
    width: 300px;
    height: 100px;
    /*-webkit-transform: rotate(180deg);
    transform: rotate(180deg);*/
}

.box2 {
  width: 150px;
  height: 250px;
  /*background-color: rgba(255,255,255,0.5);*/
  background-color: rgba(255,255,255,0.3);
  z-index: 998;
  position:absolute;
}

.box2:hover {
    background-color: rgba(255,255,255,0.9);
    width: 1250px;
    height: 10px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.box3 {
  width: 200px;
  height: 200px;
  background-color: rgba(255,255,255,0.4);
  z-index: 997;
  position:absolute;
}

.box3:hover {
    background-color:rgba(0,0,0,0.4);
    width: 1250px;
    height: 10px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}


.box4 {
  width: 250px;
  height: 150px;
  background-color: rgba(255,255,255,0.3);
  z-index: 996;
  position:absolute;
}

.box4:hover {
    background-color: #FFCCCC;
    width: 150px;
    height: 250px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.box5 {
  width: 300px;
  height: 100px;
  background-color: rgba(255,255,255,0.1);
  z-index: 995;
  position:absolute;
}

.box5:hover {
    background-color: #FFCCCC;
    width: 100px;
    height: 300px;
    /*-webkit-transform: rotate(180deg);
    transform: rotate(180deg);*/
}


/*.box1 {
  width: 100px;
  height: 300px;
  z-index: 999;
  position:absolute;
  background-color: rgba(0,0,0,0.9);
}

.box2 {
  width: 150px;
  height: 250px;
  background-color: rgba(0,0,0,0.5);
  z-index: 998;
  position:absolute;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,0.4);
  z-index: 997;
  position:absolute;
}

.box4 {
  width: 250px;
  height: 150px;
  background-color: rgba(0,0,0,0.3);
  z-index: 996;
  position:absolute;
}

.box5 {
  width: 300px;
  height: 100px;
  background-color: rgba(0,0,0,0.1);
  z-index: 995;
  position:absolute;
}*/
